#confirmBtn {
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

#confirmBtn:hover {
    -fx-background-color: lightblue;
}

#title {
    -fx-font-family: C059;
    -fx-font-weight: bolder;
    -fx-font-size: 2em;
}

.timeText {
    -fx-font-family: C059;
    -fx-font-weight: bolder;
}

#errorText {
    -fx-fill: red;
    -fx-font-weight: bold;
}
